body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}
.bookstyle{
    margin: 10% 0 4% 0;
}
.progress-bar{
    background-color:#66a45f;
}
#scale_up:hover{
    transform: scale(1.4,1.4);
    color:#66a45f;
}
.btn-colorr{
    color: #5e5e5e;
    background-color: #fafafa;;
    width: 120px;
    height: 40px;
    margin: 5% 0;
}
.btn-color{
    background-color: #f9b13b;
    width: 120px;
    height: 40px;
    margin: 5% 0;
    margin-left: 3%
}


