body{
	font-family: 'Open Sans', sans-serif;
	background-image: url(images/loginbg.png);
	background-size: cover;
};

input[type="text"] {
	font-family: monospace;
	font-size: 14px;
	color: #d8d8d8;
  }

  ::placeholder {
	color: #ebebf2;
	font-size: 13px;
	letter-spacing: 0.6px;
  }
  input [placeholder="yourname@email.com"] {
	color: #ebebf2;
	font-size: 13px;
	letter-spacing: 0.6px;
  }
  ::value {
	font-size: 14px;
	letter-spacing: 0.6px;
  }
  input[value="SEND ME INSTRUCTIONS"] {
	font-family: monospace;
	font-size: 14px;
	color: red;
  }
