body{
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
}
.bookstyle{
    margin: 10% 0 4% 0;
}

.btn-colorr{
    color: #5e5e5e;
    background-color: #fafafa;;
    width: 120px;
    height: 40px;
    margin: 5% 0;
}
.btn-color{
    background-color: #f9b13b;
    width: 120px;
    height: 40px;
    margin: 5% 0;
    margin-left: 3%
}
.font_size{
    font-size: 14px;
    color:#5e5e5e;
}