body{
    font-family: 'Open Sans', sans-serif;
}
.nav-link
{
    border:0 !important ;
}

.high{
    height: 96px;
    background-color: #fafafa;


}

/* .container.length{
    width:1080px !important;
}

.container.lengthy{
    width:1108px !important;
} */

#overflw{
    overflow: auto;
}